*.pyc
*~
*.svg
*.png
*.data
*.html
*.npy

/a
/#exreport.py#
/.#exreport.py
/adaptived/feh_030311_000001_filelist
/reports/test_global_proportions.csv
/reports/test_parameters.csv
/models/#toymodel.py#
/pimad.egg-info/
