*.pyc
*~
*.svg
*.png
*.data
*.html

/a
/adaptived/pip_p01_b100_T1000.npy
/adaptived/pip_p01_b100_T200.npy
/adaptived/pip_p01_b100_T50.npy
/adaptived/pip_p01_b16_T100.npy
/adaptived/pip_p01_b16_T1000.npy
/adaptived/pip_p01_b16_T200.npy
/adaptived/pip_p01_b16_T50.npy
/adaptived/pip_p01_b20_T100.npy
/adaptived/pip_p01_b20_T1000.npy
/adaptived/pip_p01_b20_T200.npy
/adaptived/pip_p01_b20_T50.npy
/adaptived/pip_p01_b2_T100.npy
/adaptived/pip_p01_b2_T1000.npy
/adaptived/pip_p01_b2_T200.npy
/adaptived/pip_p01_b2_T50.npy
/adaptived/pip_p01_b40_T100.npy
/adaptived/pip_p01_b40_T1000.npy
/adaptived/pip_p01_b40_T200.npy
/adaptived/pip_p01_b40_T50.npy
/adaptived/pip_p01_b4_T100.npy
/adaptived/pip_p01_b4_T1000.npy
/adaptived/pip_p01_b4_T200.npy
/#exreport.py#
/.#exreport.py
/adaptived/pip_p01_b4_T50.npy
/adaptived/pip_p01_b8_T100.npy
/adaptived/pip_p01_b8_T1000.npy
/adaptived/pip_p01_b8_T200.npy
/adaptived/pip_p01_b8_T50.npy
*.npy
*#*
/adaptived/feh_030311_000001_filelist
